@await Component.InvokeAsync("Hero") 
<section class="features py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center" data-aos="fade-in" data-aos-delay="0">
				<div class="py-5">
					<svg width="38" height="38" viewBox="0 0 24 24">
						<use xlink:href="#calendar"></use>
					</svg>
					<h4 class="element-title text-capitalize my-3">Book An Appointment</h4>
					<p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
				</div>
			</div> 
		</div>
	</div>
</section>

@await Component.InvokeAsync("Services")
