  @model Domain.Models.ViewModels.CategoryViewModel

<div class="container-fluid ">

	<!-- content -->

	<div class="row">
		<div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
			<div class="row align-items-end ">
				<div class="col-lg-8">
					<div class="page-header-title text-left-rtl">
						<div class="d-inline">
							<h3 class="lite-text ">ساخت خدمات</h3>

						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item "><a href="#"><i class="fas fa-home"></i></a></li>
						<li class="breadcrumb-item "><a asp-area="Admin" asp-controller="Category" asp-action="Index">دسته بندی </a></li>
						<li class="breadcrumb-item active">ساخت دسته بندی</li>
					</ol>
				</div>

			</div>
		</div>
	</div>





	<form method="post" action="" class="d-flex" enctype="multipart/form-data">
		<input asp-for="Category.CategoryId" hidden />

		<div class="col-lg-10 col-sm-10 ">

			<div class="mb-3 col-lg-10 col-md-8 col-sm-8">
				<label asp-for="Category.CategoryName" class=""> </label>
				<input asp-for="Category.CategoryName" type="text" class="form-control " />
				<span asp-validation-for="Category.CategoryName" class="text-danger"></span>

			</div>

			<div class="mb-3 col-lg-10 col-md-8 col-sm-8">
				<label asp-for="Category.ParentCategoryId">دسته‌بندی والد</label>
				<select asp-for="Category.ParentCategoryId" class="form-control" asp-items="Model.ParentCategories">
					<option value="">بدون دسته‌بندی والد</option>
				</select>

			</div>
			<div class="mb-3 col-lg-10 col-md-8 col-sm-8">
				<label asp-for="Category.Slug"> </label>
				<input asp-for="Category.Slug" type="text" class="form-control ">
				<span asp-validation-for="Category.Slug" class="text-danger"></span>
			</div>

			<div class="mb-3 col-lg-10 col-md-8 col-sm-8 ">
				<label asp-for="Category.ImageUrl" class="p-0"></label>
				<input asp-for="Category.ImageUrl" type="file" name="file" class="form-control" />
				<span asp-validation-for="Category.ImageUrl" class="text-info"></span>
				<div clas="col-2 ">
					<img alt="Profile Image" src="@Model.Category.ImageUrl" width="200px" height="200px" />
				</div>

			</div>

			<div class="mb-3 col-lg-10 col-md-8 col-sm-8 ">
				<label asp-for="Category.Description" for="exampleFormControlTextarea1"></label>
				<textarea asp-for="Category.Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				<span asp-validation-for="Category.Description" class="text-info"></span>

			</div>
			<div class="row">
				<div class="col-4">

					@if (Model.Category.CategoryId != 0)
					{

						<button type="submit" class="btn outlined o-warning form-control  text-center">
							ویرایش
						</button>
					}
					else
					{
						<button type="submit" class="btn outlined o-primary form-control  text-center">
							اضافه کردن
						</button>
					}

				</div>
				<div class="col-4 ">
					<a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn outlined o-danger form-control text-center">
						برگشت
					</a>
				</div>
			</div>
		</div>


	</form>
	<!-- end of form -->
</div>
