@model List<Category>
<section id="billboard" class="bg-light py-5 " dir="rtl">
	<div class="container">
		<div class="row justify-content-center">
			<h1 class="section-title text-center mt-4" data-aos="fade-up"> Saro Beauty Lounge  </h1>
			<div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
				<p>
					سالن زیبایی ما با ارائه خدمات حرفه‌ای در زمینه مراقبت از پوست، مو و ناخن، تجربه‌ای متفاوت از زیبایی را برای شما رقم می‌زند. با بهره‌گیری از متخصصان مجرب و استفاده از بهترین محصولات آرایشی، محیطی آرامش‌بخش و لوکس را فراهم کرده‌ایم. ما به رضایت شما اهمیت می‌دهیم و در تلاشیم تا زیبایی طبیعی‌تان را با روش‌های نوین و استانداردهای بین‌المللی تقویت کنیم.

				</p>
			</div>
		</div>
		<div class="container">
			<div class="open-up" data-aos="zoom-out">
				<div class="row">

				 @foreach (var item in Model )
				 {
						<div class="col-md-4  py-5 ">
							<div class="cat-item image-zoom-effect">
								<div class="image-holder link-hover image-zoom-effect">
									<a asp-area="Clint" asp-controller="Service" asp-action="GetServicesByCategory" asp-route-categoryId="@item.CategoryId" >
									 <img src="@item.ImageUrl" alt="categories" class="product-image img-fluid " >
								 </a>
							 </div>
							 <div class="category-content">
								 <div class="product-button">
										<a asp-area="Clint" asp-controller="Service" asp-action="GetServicesByCategory" asp-route-categoryId="@item.CategoryId" class="btn btn-common text-uppercase"><h4>@item.CategoryName</h4></a>
								 </div>
							 </div>
						 </div>
					 </div>
				 } 
				</div>
			</div>
		</div>
	</div>
</section>

