<section id="carousel">
	<div id="salonCarousel" class="carousel slide" data-bs-ride="carousel">
		<!-- Indicators -->
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#salonCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#salonCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#salonCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>

		<!-- Slides -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="~/Clint/images/Hero-1.jpg" class="d-block w-100" alt="Salon Image 1" style="height: 80vh; object-fit: cover;">
			 
				<div class="carousel-caption d-none ">
					<h5>سالن زیبایی حرفه‌ای</h5>
					<p>فضای عالی برای خدمات شما.</p>
				</div>
			</div>
			<div class="carousel-item">
                <img src="~/Clint/images/Hero-2.jpg" class="d-block w-100" alt="Salon Image 2" style="height: 80vh; object-fit: cover;">
			 
				<div class="carousel-caption d-none ">
					<h5>خدمات فوق‌العاده</h5>
					<p>با کیفیتی بی‌نظیر.</p>
				</div>
			</div>
			<div class="carousel-item">
                <img src="~/Clint/images/Hero-3.jpg" class="d-block w-100" alt="Salon Image 3" style="height: 80vh; object-fit: cover;">
			 
				<div class="carousel-caption d-none ">
					<h5>فضای آرامش‌بخش</h5>
					<p>مکانی برای زیبایی و آرامش.</p>
				</div>
			</div>
		</div>

		<!-- Controls -->
		<button class="carousel-control-prev" type="button" data-bs-target="#salonCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#salonCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</section>
<section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden" dir="rtl">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase"> خدمات</h4>
            <a href="index.html" class="btn-link">دیدن همه خدمات</a>
        </div>
        <div class="swiper product-swiper open-up" data-aos="zoom-out">
            <div class="swiper-wrapper d-flex">
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="index.html">
                                <img src="~/Clint/images/product-item-30.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="index.html" class="btn-icon btn-wishlist">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="element-title text-uppercase fs-5 mt-3">
	                                <a href="index.html">ناخن</a> 
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>400T</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="index.html">
                                <img src="~/Clint/images/product-item-31.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="index.html" class="btn-icon btn-wishlist">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
	                            <h5 class="element-title text-uppercase fs-5 mt-3">
		                            <a href="index.html">ناخن</a>  
	                            </h5>
	                            <a href="#" class="text-decoration-none" data-after="Add to cart"><span>400T</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="index.html">
                                <img src="~/Clint/images/product-item-32.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="index.html" class="btn-icon btn-wishlist">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content text-center">
	                            <h5 class="element-title text-uppercase fs-5 mt-3">
		                            <a href="index.html">ناخن</a> 
	                            </h5>
	                            <a href="#" class="text-decoration-none" data-after="Add to cart"><span>400T</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="index.html">
                                <img src="~/Clint/images/product-item-33.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="index.html" class="btn-icon btn-wishlist">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
	                            <h5 class="element-title text-uppercase fs-5 mt-3">
		                            <a href="index.html">مژه</a> 
	                            </h5>
	                            <a href="#" class="text-decoration-none" data-after="Add to cart"><span>400T</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="index.html">
                                <img src="~/Clint/images/product-item-34.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="index.html" class="btn-icon btn-wishlist">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="index.html">Crop sweater</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$70.00</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </div>
        <div class="icon-arrow icon-arrow-right">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>
    </div>
</section>
