@model List<Service>

<section class="container " dir="rtl">
	<h2 class="text-center mt-4">خدمات مژه</h2>

	<div class="row">
	 
		@foreach (var service in Model)
		{
			<div class="col-6 col-md-4 py-3 d-flex justify-content-center  ">
				<div class="card shadow-sm cat-item link-hover" style="max-width:300px; width:100%;">
					<div class="image-holder">
						<a asp-area="Clint" asp-controller="Service" asp-action="GetServicesByCategory">
							<img src="@service.ImageUrl" alt="categories" class="product-image img-fluid card-img-top lazyload"  >
						</a>
					</div>
					<div class="card-body text-center">
						<h5 class="card-title">@service.ServiceName</h5>
						<p class="card-text"> @string.Format("{0:n0}", @service.Price)  تومان</p>
						<a href="#" class="btn btn-primary">نوبت(بزودی)</a>
					</div>
				</div>
			</div>
		}
	</div>
</section>